[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
detect-secrets = "*"
pyspark = "*"
jupyter = "*"
ipykernel = "*"
python-dotenv = "*"
jupytext = "*"

[dev-packages]

[requires]
python_version = "3.11"
